@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #4682B4;
}

/*this centers the calculator in the middle of the page, because it takes it out of the normal document flow */
.calc-parent-container {
    background: #2F4F4F;
    width: 450px;
    height: 500px;
    margin: auto;
    top: 20%;
    position: relative;
    text-align: center;
}

/* aligning all calculator content with flexbox */
.calc-content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 410px;
    height: 70px;
    border: 4px solid black;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    background-color: white;
    margin-bottom: 10px;

}

.buttons {
    display: flex;
    width: 425px;
    height: 380px;
    gap: 5px;
}