@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #4682B4;
}

/*this centers the calculator in the middle of the page, because it takes it out of the normal document flow */
.calc-parent-container {
    background: #2F4F4F;
    width: 450px;
    height: 500px;
    margin: auto;
    top: 20%;
    position: relative;
    text-align: center;
}